__pycache__
energy_assistant.yaml
*.db
client
*.log
*.log.*
*.bak
.mypy_cache
.ruff_cache
data/
*.egg-info
dist/
.venv

site/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
