pyyaml==6.0
requests
httpx==0.24.1

SQLAlchemy==2.0.19
greenlet==2.0.2
alembic==1.11.1
anyio==3.7.1
aiosqlite==0.19.0
pydantic==2.0.2
pydantic-settings==2.0.2
pydantic_core==2.3.0
python-dotenv==1.0.0

fastapi==0.100.0
fastapi-socketio==0.0.10
uvicorn[standard]==0.23.0
uvloop==0.17.0
websockets==11.0.3

# local dev packages
ruff
mypy>=0.930
mypy-extensions==1.0.0
typing_extensions==4.7.1
annotated-types==0.5.0
pre-commit
isort
pytest-asyncio
pytest-cov
pytest-env
pytest-mock
pytest-randomly
eqassertions
types-PyYAML
types-requests
