pyyaml
paho-mqtt
requests

python-socketio
aiohttp
SQLAlchemy
aiosqlite
pydantic
python-dotenv

fastapi
fastapi-socketio
uvicorn[standard]
websockets

ruff
pre-commit
isort
pytest-asyncio
types-PyYAML
