pyyaml
paho-mqtt
requests
httpx

aiohttp
SQLAlchemy
greenlet==2.0.2
alembic
aiosqlite
pydantic
python-dotenv

fastapi
fastapi-socketio
uvicorn[standard]
websockets

ruff
mypy
pre-commit
isort
pytest-asyncio
types-PyYAML
types-requests
