name: "Lint and test"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  lint:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          python-version: 3.13
          activate-environment: true

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: "Run ruff"
        run: uv run ruff check .

      - name: "run mypy"
        run: uv run mypy energy_assistant

      - name: "Generate docu"
        run: uvx mkdocs gh-deploy --force

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          python-version: 3.13
          activate-environment: true

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: |
          uv run pytest \
            -qq \
            --durations=10 \
            -o console_output_style=count \
            -p no:sugar \
            --cov=./ \
            --cov-report=xml \
            tests
        env:
          APP_CONFIG_FILE: test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          # directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          #files: ./coverage.xml,!./cache
          flags: unittests
          name: codecov-umbrella
          verbose: true
